<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>2D Engine</title>
    <link rel="stylesheet" type="text/css" href="client/style/game.css">
    <script type="text/javascript" src="client/lib/events.js"></script>
    <script type="text/javascript" src="client/lib/vectorlib/vec2.js"></script>
    <script type="text/javascript" src="client/lib/2d/scene.js"></script>
    <script type="text/javascript" src="client/lib/2d/circle.js"></script>
    <script type="text/javascript" src="client/lib/2d/polygon.js"></script>
    <script type="text/javascript" src="client/lib/2d/rect.js"></script>
    <script type="text/javascript" src="client/lib/physics/collision.js"></script>
    <script type="text/javascript" src="client/lib/physics/mass.js"></script>
    <script type="text/javascript" src="client/lib/physics/material.js"></script>
    <script type="text/javascript" src="client/lib/physics/rigidCircle.js"></script>
    <script type="text/javascript" src="client/lib/physics/rigidPolygon.js"></script>
</head>

<body>

    <script type="text/javascript" src="client/js/main.js"></script>

</body>

</html>