<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>2D Engine</title>
    <link rel="stylesheet" type="text/css" href="client/style/game.css">
    <script type="text/javascript" src="client/lib/events.js"></script>
    <script type="text/javascript" src="client/lib/vectorlib/vec2.js"></script>
    <script type="text/javascript" src="client/lib/2d/polygon.js"></script>
    <script type="text/javascript" src="client/lib/2d/draw.js"></script>
    <script type="text/javascript" src="client/lib/2d/rigidPolygon.js"></script>
    <script type="text/javascript" src="client/lib/physics/mass.js"></script>
    <script type="text/javascript" src="client/lib/physics/material.js"></script>
    <script type="text/javascript" src="client/lib/2d/circle.js"></script>
    <script type="text/javascript" src="client/lib/2d/rigidCircle.js"></script>
    <script type="text/javascript" src="client/lib/physics/collision.js"></script>
</head>

<body>

    <script>

        let scene = new Scene();

       /*  let poly = new Polygon(scene, new Vec2(32, 32), new Vec2(2, 1), new Vec2(0, 0),
        [{x:32, y:0},
         {x:64, y:48},
         {x:42, y:80},
         {x:0, y:64},
         {x:32, y:32}], 
        undefined, undefined, true)
        poly.angle = 50; */

        let circle = new Circle(scene, 28, new Vec2(64, 64),  new Vec2(0, 1.5), new Vec2(0, 0), undefined, undefined, true)
        let circle1 = new Circle(scene, 35, new Vec2(0, 0),  new Vec2(2, 1.6), new Vec2(0, 0), undefined, undefined, true)
        let circle2 = new Circle(scene, 10, new Vec2(128, 128),  new Vec2(1, 0), new Vec2(0, 0), undefined, undefined, true)

    </script>

</body>

</html>