<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>2D Engine</title>
    <link rel="stylesheet" type="text/css" href="client/style/game.css">
    <script type="text/javascript" src="client/lib/events.js"></script>
    <script type="text/javascript" src="client/lib/vectorlib/vec2.js"></script>
    <script type="text/javascript" src="client/lib/2d/polygon.js"></script>
    <script type="text/javascript" src="client/lib/2d/draw.js"></script>
    <script type="text/javascript" src="client/lib/2d/rigidPolygon.js"></script>
    <script type="text/javascript" src="client/lib/physics/mass.js"></script>
    <script type="text/javascript" src="client/lib/physics/material.js"></script>
    <script type="text/javascript" src="client/lib/2d/circle.js"></script>
    <script type="text/javascript" src="client/lib/2d/rigidCircle.js"></script>
    <script type="text/javascript" src="client/lib/physics/collision.js"></script>
</head>

<body>

    <script>

        let scene = new Scene();

        //let c1 = new Circle(scene, new Vec2(32, 32), 32, new Vec2(3, 1), undefined, undefined, undefined, true);
        //let c2 = new Circle(scene, new Vec2(200, 64), undefined, undefined, undefined, undefined, undefined, true);

        // new Polygon(scene, new Vec2(64, 64),
        //     [new Vec2(64, 0),
        //     new Vec2(64, 64),
        //     new Vec2(0, 64),
        //     new Vec2(0, 0)], undefined, undefined, undefined, undefined, undefined, true);

    </script>

</body>

</html>